html, body {
  height: 100%;   
  margin: 0;      
  padding: 0;     
}

#root {
  height: 100%;   
}

* {
  box-sizing: border-box;  
}

.typewriter::after {
  content: "|";
  display: inline;
  margin-left: 5px;
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#tsparticles {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
}