.container{
    width: 350px;
    height: 500px;
    perspective: 1000px;
    
}

.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    
}

.container:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
}

.front, .back{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    position: absolute;
    backface-visibility: hidden;
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.25);
    background-color: white;
}

.front-image{
    background-image: url('/src/assets/community1.jpg');
}

.back{
    transform: rotateY(180deg) rotateZ(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: black;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}